<script src="//unpkg.com/alpinejs" defer></script>
<script src="https://unpkg.com/htmx.org@1.8.5" integrity="sha384-7aHh9lqPYGYZ7sTHvzP1t3BAfLhYSTy9ArHdP3Xsr9/3TlGurYgcPBoFmXX2TX/w" crossorigin="anonymous"></script>


<!-- <input x-model="search" placeholder="Search...">
<button hx-get="{% url 'observed:station-list' %}"  hx-target="#output" hx-swap="outerHTML"> Stations </button> -->

<form hx-encoding='multipart/form-data' hx-post='observed:upload-list'
          _='on htmx:xhr:progress(loaded, total) set #progress.value to (loaded/total)*100'>
        <input type='file' name='file'>
        <button>
            Upload
        </button>
        <progress id='progress' value='0' max='100'></progress>
    </form>

<button hx-get="{% url 'script' %}"  hx-target="#output" hx-swap="outerHTML"> Stations </button>

<p id ="output"></p>

