<!-- <p>THREE-HOURLY STATION OBSERVED VALUES</p> -->

<ag-grid-angular
    style="width: 1400px; height: 800px;"
    class="ag-theme-alpine"
    [rowData]="rowData$|async"
    [columnDefs]="columnDefs">

</ag-grid-angular>

<!-- <h5> FORECAST DATE: {{forecastDate}} </h5> 
<table class="table table-striped">
    <thead>
        <tr>
            <th>Sation</th>
            <th>startStep</th>
            <th>endStep </th>
            <th>Temperature</th>
            <th>RH</th>
            <th>Dewpoint</th>
            <th>Wind Speed</th>
            <th>Visibility</th>
            <th>Pressure (Sea)</th>
            <th>Pressure (Station)</th>
            <th>Rainfall</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let dataItem of threeHourlyArray">
            <td>{{dataItem.st_name}}</td>
            <td>{{dataItem.startstep}}</td>
            <td>{{dataItem.endstep}}</td>
            <td>{{dataItem.temperature}}</td>
            <td>{{dataItem.relative_humidity}}</td>
            <td>{{dataItem.dewpoint}}</td>
            <td>{{dataItem.wind_speed}}</td>
            <td>{{dataItem.visibility}}</td>
            <td>{{dataItem.station_level_pressure}}</td>
            <td>{{dataItem.sea_level_pressure}}</td>
            <td>{{dataItem.precipitation}}</td>
        </tr>
    </tbody>
</table>

 -->
